@charset "UTF-8";
/* line 2, ../sass/Lucky.scss */
* {
  font-family: 'Microsoft YaHei', Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #313131;
  outline: none;
  line-height: 1;
}

/* line 15, ../sass/Lucky.scss */
.wrapper {
  width: 600px;
  margin: 0 auto;
  position: relative;
  height: 600px;
  top: 160px;
}

/* line 23, ../sass/Lucky.scss */
.arrow {
  position: absolute;
  width: 2px;
  height: 300px;
  background-color: #ff3366;
  left: 50%;
  z-index: 99;
  margin-left: -1px;
}

/* line 33, ../sass/Lucky.scss */
.piechart {
  position: relative;
  float: left;
}

/* line 38, ../sass/Lucky.scss */
#section1 {
  width: 800px;
  margin: 0 auto 100px;
}

/* line 43, ../sass/Lucky.scss */
#btnStart {
  cursor: pointer;
  position: absolute;
  font-weight: bold;
  font-size: 30px;
  z-index: 99;
  background-color: #0099ff;
  padding: 10px 0;
  color: #fff;
  display: inline-block;
  white-space: nowrap;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 50%;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
/* line 63, ../sass/Lucky.scss */
#btnStart:hover {
  transform: scale(1.2);
}

/* line 67, ../sass/Lucky.scss */
#corver {
  width: 500px;
  height: 500px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 auto;
  padding-top: 95px;
  font-size: 20px;
  box-sizing: border-box;
  position: relative;
  border: 5px solid #54b74a;
}

/* line 80, ../sass/Lucky.scss */
.close-btn {
  background-image: url(../img/close-btn.png);
  width: 40px;
  height: 40px;
  position: absolute;
  top: -20px;
  right: -20px;
  cursor: pointer;
  transition: all 0.2s;
}
/* line 89, ../sass/Lucky.scss */
.close-btn:hover {
  transform: scale(1.1, 1.1);
}

/* line 95, ../sass/Lucky.scss */
.pop-up {
  -webkit-animation: avia_image_appear 0.5s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* Safari 4+ */
  -o-animation: avia_image_appear 0.5s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-animation: avia_image_appear 0.5s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation: avia_image_appear 0.5s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: avia_image_appear 0.5s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* IE 10+ */
}

/* line 102, ../sass/Lucky.scss */
.pop-down {
  -webkit-animation: avia_image_disappear 0.5s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* Safari 4+ */
  -o-animation: avia_image_disappear 0.5s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-animation: avia_image_disappear 0.5s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-animation: avia_image_disappear 0.5s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation: avia_image_disappear 0.5s 1 cubic-bezier(0.175, 0.885, 0.32, 1.275);
  /* IE 10+ */
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes avia_image_appear {
  0% {
    -webkit-transform: scale(0.7);
    opacity: 0.1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes avia_image_appear {
  0% {
    -o-transform: scale(0.7);
    opacity: 0.1;
  }
  100% {
    -o-transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes avia_image_appear {
  0% {
    -moz-transform: scale(0.7);
    opacity: 0.1;
  }
  100% {
    -moz-transform: scale(1);
    opacity: 1;
  }
}
@-ms-keyframes avia_image_appear {
  0% {
    -ms-transform: scale(0.7);
    opacity: 0.1;
  }
  100% {
    -ms-transform: scale(1);
    opacity: 1;
  }
}
@keyframes avia_image_appear {
  0% {
    transform: scale(0.7);
    opacity: 0.1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes avia_image_disappear {
  0% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.7);
    opacity: 0;
  }
}
@-moz-keyframes avia_image_disappear {
  0% {
    -moz-transform: scale(1);
    opacity: 1;
  }
  100% {
    -moz-transform: scale(0.7);
    opacity: 0;
  }
}
@-ms-keyframes avia_image_disappear {
  0% {
    -ms-transform: scale(1);
    opacity: 1;
  }
  100% {
    -ms-transform: scale(0.7);
    opacity: 0;
  }
}
@-o-keyframes avia_image_disappear {
  0% {
    -o-transform: scale(1);
    opacity: 1;
  }
  100% {
    -o-transform: scale(0.7);
    opacity: 0;
  }
}
@keyframes avia_image_disappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.7);
    opacity: 0;
  }
}
/* line 166, ../sass/Lucky.scss */
#title {
  font-size: 50px;
  margin-top: 75px;
  line-height: 1;
}

/* line 172, ../sass/Lucky.scss */
.btns {
  margin-top: 120px;
}
/* line 174, ../sass/Lucky.scss */
.btns span {
  cursor: pointer;
  line-height: 40px;
  text-align: center;
  border: 1px solid #54b74a;
  width: 120px;
  display: inline-block;
  margin: 0 25px;
  border-radius: 3px;
  transition: all 0.3s;
}
/* line 184, ../sass/Lucky.scss */
.btns span:hover {
  background-color: #54b74a;
  color: #fff;
}

/* line 190, ../sass/Lucky.scss */
.global-table {
  display: table;
  width: 100%;
  height: 100%;
}

/* line 195, ../sass/Lucky.scss */
.blobal-tableCell {
  display: table-cell;
  vertical-align: middle;
}

/* line 199, ../sass/Lucky.scss */
.maskWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}

/* line 208, ../sass/Lucky.scss */
#piechart1 {
  transition: all 15s;
  transition-timing-function: cubic-bezier(0.54, -0.001, 0.06, 0.9995);
}

/* line 214, ../sass/Lucky.scss */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 220, ../sass/Lucky.scss */
ul, li {
  text-indent: 0;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

/* line 227, ../sass/Lucky.scss */
img {
  border: 0;
}

/* line 231, ../sass/Lucky.scss */
body {
  background-color: #fff;
  font: 100%/18px helvetica, arial, sans-serif;
  background-image: url(../img/img-bg.jpg);
}

/* line 236, ../sass/Lucky.scss */
ul#luckyResult li {
  margin-bottom: 10px;
}

/* line 239, ../sass/Lucky.scss */
#canvasFirework {
  cursor: crosshair;
  display: none;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 20;
}

/* line 248, ../sass/Lucky.scss */
#header img {
  width: 100%;
  height: 20%;
}

/* line 253, ../sass/Lucky.scss */
#bg img {
  width: 100%;
  height: 80%;
}

/* line 258, ../sass/Lucky.scss */
audio {
  position: fixed;
  display: none;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 5;
}

/* line 268, ../sass/Lucky.scss */
.en-markup-crop-options div div:first-of-type {
  margin-left: 0px !important;
}

/* line 272, ../sass/Lucky.scss */
#luckyResult {
  color: #313131;
  float: right;
}

/* line 277, ../sass/Lucky.scss */
#circleWrapper {
  width: 98%;
  height: 98%;
  position: absolute;
  border: 9px solid #f5f5f5;
  border-radius: 50%;
  top: -4px;
  left: -4px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.6);
  z-index: 5;
}

@keyframes twinkling {
  /*透明度由0到1*/
  0% {
    transform: scale(0);
    opacity: 1;
    /*透明度为0*/
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
    /*透明度为1*/
  }
}
/* line 302, ../sass/Lucky.scss */
.twinkling-circle {
  width: 15px;
  height: 15px;
  background-color: #ff3366;
  border-radius: 50%;
  -webkit-animation: twinkling 1s infinite ease-in-out;
  animation: twinkling 1s infinite ease-in-out;
}

/* line 310, ../sass/Lucky.scss */
.twinkling-innerCircle {
  position: relative;
  top: -12px;
  left: 2px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 40px solid #ff3366;
}

/* line 321, ../sass/Lucky.scss */
.twinkling-circle-wrapper {
  position: absolute;
  display: inline-block;
  margin-left: -6px;
  top: -6px;
}

/* line 327, ../sass/Lucky.scss */
#criticalHit {
  cursor: pointer;
  position: relative;
  z-index: 99;
  background-color: #ff3366;
  padding: 10px 20px;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
}
/* line 336, ../sass/Lucky.scss */
#criticalHit:hover {
  background-color: rgba(255, 51, 102, 0.8);
}
